.vs
Intermediate
UdpProj_0816.sln
Binaries
enc_temp_folder
Build
Saved/Autosaves
Saved/Cooked
Saved/Crashes
Saved/EditorCooked
Saved/Logs
Saved/MaterialStats
Saved/MaterialStatsDebug
Saved/Shaders
Saved/StagedBuilds
Saved/Temp
Saved/AutoScreenshot.png
Saved/Config/CrashReportClient
Saved/Config/WorldState
